@(imageSource: String)
@main("Image Downloader") {
<div class="centered-table">
    <div class="centered">
        <div class="container">
            <h2>You can download jpg images and show below.</h2>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form action="@routes.Download.download" method="POST">
                        <div class="input-group">
                            <input class="form-control" type="text" name="url" placeholder="Enter image URL here">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Download!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            @if(imageSource != "") {
            <h2>Downloaded Image</h2>
            <p><img class="preview-image" src="@routes.Assets.at("images/" + imageSource)" alt="Downloaded Image"/></p>
            }
            <p><a class="btn btn-info" href="@routes.Application.get">Go Back</a></p>
        </div>
    </div>
</div>
}